.dropdown {
  max-width: 371px;
  width: 100%;
  user-select: none;
  position: relative;
}

.dropdownBtn {
  font-size: 16px;
  padding: 9px 20px 9px;
  background: #FAFAFA;
  border: 1px solid #ECECED;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  background: #FAFAFA;
  border: 1px solid #ECECED;
  box-sizing: border-box;
  width: 100%;
}

.dropdownItem {
  padding: 9px 20px 9px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdownItem:hover {
  background: #f4f4f4;
}

.dropdownTitle {
  font-weight: bold;
  font-size: 14px;
}